services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      string $appSecret: '%env(APP_SECRET)%'

  App\Controller\:
    resource: '../src/Controller'
    tags: ['controller.service_arguments']

  App\Repository\:
    resource: '../src/Repository'
